.product{
    display: flex;
    border-bottom: 2px solid lightgray;
}
.product-img{
    margin-right: 20px;
    padding: 10px;
}
.product-Details{
    padding: 5px;
}
.product-Details h3{
    color: blue;
}
.main-button{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: large;
    cursor: pointer;
}